<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">
  <title>Py-Weather</title>
</head>

<body>
  <div class="contents">
    <div class="top">
      <div class="location">
        {% if geocode_local.use_api %}
          <p>{{ location.name }}, {{ location.state }}</p>
        {% else %}
          <p>{{ geocode_local.location_name }}, {{ geocode_local.location_state }}</p>
        {% endif %}
        
        <p>{{ date.weekday }}, {{ date.month }} {{ date.day }}</p>
      </div>
      <div class="space-objects">
        <div class="sun">
          <div class="sun-rise">
            {% if sun.rise != None %}
              <p>
                <time datetime="{{ sun.rise }}">{{ sun.rise }}</time> 
                
                {% if use_half_of_day %}
                {{ sun.rise_half }}
                {% endif %}
              </p>
            {% else %}
              <p>
                ---
              </p>
            {% endif %}
          </div>

          <img src="./icons/01d.png" alt="sun icon">

          <div class="sun-set">
            {% if sun.set != None %}
              <p>
                <time datetime="{{ sun.set }}">{{ sun.set }}</time>
                
                {% if use_half_of_day %}  
                  {{ sun.set_half }}
                {% endif %}
              </p>
            {% else %}
              <p>
                ---
              </p>
            {% endif %}
          </div>
        </div>

        <div class="moon">
          <div class="moon-rise">
            {% if moon.rise != None %}
              <p>
                <time datetime="{{ moon.rise }}">{{ moon.rise }}</time>
  
                {% if use_half_of_day %}
                  {{ moon.rise_half }}
                {% endif %}
              </p>
            {% else %}
              <p>
                ---
              </p>
            {% endif %}
          </div>

          <img src="./icons/01n.png" alt="moon icon">

          <div class="moon-set">
            {% if moon.set != None %}
              <p>
                <time datetime="{{ moon.set }}">{{ moon.set }}</time>
  
                {% if use_half_of_day %}
                  {{ moon.set_half }}
                {% endif %}
              </p>
            {% else %}
              <p>
                ---
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="middle">
      <div class="current-weather">
        <div class="cw-top">
          <img src="./icons/{{ current.icon }}.png" alt="{{ current.alt_text }}">

          <p>
            {{ current.temp }}{% if temp_unit != 'K' %}&#176;{% endif %} {{ temp_unit }}
          </p>
        </div>

        <div class="cw-bottom">
          <p>{{ current.description }}</p>
        </div>
      </div>

      <div class="right-side">
        <div class="wind-speed col-item">
          <div class="img-container">
            <img src="./icons/direction-arrow-{{ wind.deg }}.png" alt="wind icon">
          </div>

          <div class="item-text">
            <p>Wind Speed:</p>
            <p>{{ wind.speed }} {{ speed_unit }}</p>
          </div>
        </div>

        <div class="humidity col-item">
          <div class="img-container">
            <img src="./icons/50d.png" alt="humidity icon">
          </div>

          <div class="item-text">
            <p>Humidity</p>
            <p>{{ humidity }}%</p>
          </div>
        </div>

        <div class="visibility col-item">
          <div class="img-container">
            <img src="./icons/50n.png" alt="visibility icon">
          </div>
          
          <div class="item-text">
            <p>Visibility</p>
            <p>{{ visibility.symbol }} {{ visibility.distance }} km</p>
          </div>
        </div>

        <div class="pressure col-item">
          <div class="img-container">
            <img src="./icons/03d.png" alt="pressure icon">
          </div>
          
          <div class="item-text">
            <p>Pressure</p>
            <p>{{ pressure }} hPa</p>
          </div>
        </div>

        <div class="uvindex col-item">
          <div class="img-container">
            <img src="./icons/01d.png" alt="ultra violet index icon">
          </div>
          
          <div class="item-text">
            <p>UV Index</p>
            <p>{{ uvi }}</p>
          </div>
        </div>

        <div class="air-quality col-item">
          <div class="img-container">
            <img src="./icons/50n.png" alt="air icon" />
          </div>
          
          <div class="item-text">
            <p>Air Quality</p>
            <p>{{ aqi }}</p>
          </div>
        </div>

        <div class="dew-point col-item">
          <div class="img-container">
            <img src="./icons/50d.png" alt="dew point icon">
          </div>
          
          <div class="item-text">
            <p>Dew Point</p>
            <p>{{ dew_point }}&#176; {{ temp_unit }}</p>
          </div>
        </div>

        <div class="cloud-coverage col-item">
          <div class="img-container">
            <img src="./icons/03d.png" alt="cloudiness icon">
          </div>
          
          <div class="item-text">
            <p>Cloud Coverage</p>
            <p>{{ cloud_coverage }}%</p>
          </div>
        </div>

        <!-- TODO acquire and display rain and snow data -->

      </div>
    </div>
    
    <div class="bottom">
      <div class="hourly-data">
        <div class="chart">
          <canvas id="my-chart"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
          // Your editor might show errors in this script tag. Ignore those, that is because of the jinja template tags.
          // The the output file Jinja creates from this template does not include these errors.
          
          const ctx = document.getElementById('my-chart');

          new Chart(ctx, {
            data: {
              datasets: [
                {
                  type: 'line',
                  borderColor: '#ffcc63',
                  data: {{ chart_temp_dataset }},
                  yAxisID: 'temperature',
                  pointRadius: 0,
                  fill: true,
                  tension: 0.1,
                },
                {
                  type: 'bar',
                  backgroundColor: '#00a1e7',
                  data: {{ chart_pop_dataset }},
                  yAxisID: 'precipitation',
                  fill: true,
                  barPercentage: 1.0,
                  categoryPercentage: 1.0,
                },
              ],
              labels: {{ chart_labels }},
            },
            options: {
              plugins: {
                legend: {
                  display: false
                }
              },
              scales: {
                x: {
                  grid: {
                    display: false
                  },
                  border: {
                    display: false
                  }
                },
                precipitation: {
                  type: 'linear',
                  position: 'right',
                  min: 0,
                  max: 100,
                  grid: {
                    display: true,
                  },
                  border: {
                    display: false,
                  },
                  ticks: {
                    callback: function(value) { return `${value}%`; }
                  }
                },
                temperature: {
                  type: 'linear',
                  position: 'left',
                  grid: {
                    display: false
                  },
                  border: {
                    display: false
                  },
                  ticks: {
                    callback: function(value) {
                      if ('{{ temp_unit }}' !== 'K' ) { // Not Kelvin
                        return `${value}° {{ temp_unit }}`;
                      } else {
                        return `${value} {{ temp_unit }}`;
                      }
                    }
                  }
                }
              },
              maintainAspectRatio: false,
            },
          });
        </script>
      </div>
      <div class="daily-data">
        {% for item in daily_template_data %}
          <div class="daily-item">
            <p>{{ item.date }}</p>

            <p>
              {{ item.low_temp }}{% if temp_unit != 'K' %}&#176;{% endif %} {{ temp_unit }} 
              | 
              {{ item.high_temp }}{% if temp_unit != 'K' %}&#176; {% endif %} {{temp_unit}}
            </p>

            {% if item.sun_rise != None or item.sun_set != None %}
              <div class="daily-sun">
                <img src="./icons/01d.png" alt="sun icon">
                <p>
                  {% if item.sun_rise != None %}
                    {{ item.sun_rise }}

                    {% if use_half_of_day %}
                      {{ item.sun_rise_half_of_day }}
                    {% endif %} 
                  {% endif %}

                  {% if item.sun_rise != None and item.sun_set != None %}
                    |
                  {% endif %}
                  
                  {% if item.sun_set != None %}
                    {{ item.sun_set }}

                    {% if use_half_of_day %}
                      {{ item.sun_set_half_of_day }}
                    {% endif %}
                  {% endif %}
                </p>
              </div>
            {% endif %}

            {% if item.moon_rise != None or item.moon_set != None %}
              <div class="daily-moon">
                <img src="./icons/01n.png" alt="moon icon">
                <p>
                  {% if item.moon_rise != None %}
                    {{ item.moon_rise }}

                    {% if use_half_of_day %}
                      {{ item.moon_rise_half_of_day }}
                    {% endif %} 
                  {% endif %}

                  {% if item.moon_rise != None and item.moon_set != None %}
                    | 
                  {% endif %}

                  {% if item.moon_set != None %}
                    {{ item.moon_set }}

                    {% if use_half_of_day %}
                      {{ item.moon_set_half_of_day }}
                    {% endif %}
                  {% endif %}
                </p>
              </div>
            {% endif %}

            <p class="pop">Precip: {{ item.prob_of_precip }}%</p>

            <div class="daily-rain">
              <img src="./icons/09d.png" alt="rain icon">
              {% if item.rain_vol != None %}
                <p>{{ item.rain_vol }} {{ item.rain_units }}</p>
              {% else %}
                <p>0.00 {{ item.rain_units }}</p>
              {% endif %}
            </div>

            <div class="daily-snow">
              <img src="./icons/13d.png" alt="snow icon">
              {% if item.snow_vol != None %}
                <p>{{ item.snow_vol }} {{ item.snow_units }}</p>
              {% else %}
                <p>0.00 {{ item.snow_units }}</p>
              {% endif %}
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>
