<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">
  <title>Py-Weather</title>
</head>

<body>
  <div class="contents">
    <div class="top">
      <p>{{ location_name }}, {{ location_state }}</p>
    </div>

    <div class="middle">
      <div class="current-weather">
        <div class="cw-top">
          <div class="cw-left">
            <img src="./icons/{{ cw_icon }}.png" alt="{{ cw_icon_alt }}">
          </div>

          <div class="cw-right">
            <p>{{ curr_temp }}&#176; {{ temp_unit }}</p>
          </div>
        </div>

        <div class="cw-bottom">
          <p>{{ curr_description }}</p>
        </div>
      </div>

      <div class="right-side">
        <!-- TODO use CSS grid here -->
        <div class="sun-data sun-rise col-item">
          <img src="./icons/01d.png" alt="sun rise icon">
          <p>Sunrise</p>
          <p><time datetime="{{ sun_rise_time }}">{{ sun_rise_time }}</time> 
            {% if use_half_of_day %}
              {{ sun_rise_half_of_day }}
            {% endif %}
          </p>
        </div>

        <div class="wind-speed col-item">
          <img src="./icons/50d.png" alt="wind icon">
          <p>Wind Speed</p>
          <p>{{ wind_speed }} {{ speed_unit }}</p>
        </div>

        <div class="humidity col-item">
          <img src="./icons/50d.png" alt="humidity icon">
          <p>Humidity</p>
          <p>{{ humidity }}%</p>
        </div>

        <div class="visibility col-item">
          <img src="./icons/50n.png" alt="visibility icon">
          <p>Visibility</p>
          <p>{{ vis_symbol }} {{ visibility }} km</p>
        </div>

        
        <div class="sun-data sun-rise col-item">
          <img src="./icons/01d.png" alt="sun set icon">
          <p>Sunset</p>
          <p><time datetime="{{ sun_set_time }}">{{ sun_set_time }}</time>
            {% if use_half_of_day %}  
              {{ sun_set_half_of_day }}
            {% endif %}
          </p>
        </div>

        <div class="pressure col-item">
          <img src="./icons/03d.png" alt="pressure icon">
          <p>Pressure</p>
          <p>{{ pressure }} hPa</p>
        </div>

        <div class="uvindex col-item">
          <img src="./icons/01d.png" alt="ultra violet index icon">
          <p>UV Index</p>
          <p>{{ uvi }}</p>
        </div>

        <div class="air-quality col-item">
          <img src="./icons/50n.png" alt="air icon" />
          <div class="col-item-right">
            <p>Air Quality</p>
            <p>{{ aqi }}</p>
          </div>
        </div>

        <!-- TODO add sections for clouds and dew point -->

      </div>
    </div>
    <div class="bottom">
      <div class="hourly-data">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!-- One of these should be display none. Depends on screen orientation (CSS) -->
        <div class="chart-horizontal">

        </div>
        <div class="chart-vertical">

        </div>
      </div>
      <div class="daily-data">

      </div>
    </div>
  </div>
</body>
</html>