body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
body .contents {
  width: 100%;
  height: 100%;
}
body .contents .top {
  display: flex;
  flex-direction: row;
  height: 12vh;
  border-bottom: 1px dashed black;
}
body .contents .top .location {
  width: 40%;
  align-content: center;
}
body .contents .top .location p {
  text-align: center;
  font-size: 16px;
  margin: 0;
}
body .contents .top .location p:is(:first-child) {
  padding-bottom: 2px;
}
body .contents .top .location p:is(:last-child) {
  padding-top: 2px;
}
body .contents .top .space-objects {
  display: flex;
  flex-direction: row;
  width: 60%;
}
body .contents .top .space-objects .sun {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
body .contents .top .space-objects .sun p {
  text-align: center;
  font-size: 16px;
}
body .contents .top .space-objects .sun img {
  width: 40px;
}
body .contents .top .space-objects .moon {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
body .contents .top .space-objects .moon p {
  text-align: center;
  font-size: 16px;
}
body .contents .top .space-objects .moon img {
  width: 40px;
}
body .contents .middle {
  height: 40vh;
  display: flex;
  flex-direction: row;
  border-bottom: 1px dashed black;
}
body .contents .middle .current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
body .contents .middle .current-weather .cw-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70%;
  width: 100%;
  align-items: center;
  gap: 1em;
}
body .contents .middle .current-weather .cw-top img {
  width: 124px;
  image-rendering: optimizeQuality;
}
body .contents .middle .current-weather .cw-top p {
  font-size: 28px;
}
body .contents .middle .current-weather .cw-bottom {
  text-align: center;
  height: 30%;
  align-content: center;
  width: 100%;
  overflow: hidden;
}
body .contents .middle .current-weather .cw-bottom p {
  margin: 0;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1em 1em;
}
body .contents .middle .right-side {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px;
  width: 50%;
  height: 100%;
}
body .contents .middle .right-side .cell-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .contents .middle .right-side .cell-container .col-item {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  padding: 0px 1em;
  border: 1px solid black;
  border-radius: 25px;
  width: 70%;
  height: 80%;
}
body .contents .middle .right-side .cell-container .col-item .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
body .contents .middle .right-side .cell-container .col-item .img-container img {
  width: 36px;
}
body .contents .middle .right-side .cell-container .col-item .item-text {
  display: block;
  text-align: center;
  align-content: center;
  width: 70%;
  font-size: 12px;
}
body .contents .middle .right-side .cell-container .col-item .item-text p {
  margin: 0;
}
body .contents .bottom {
  height: 48vh;
}
body .contents .bottom .hourly-data {
  height: 50%;
}
body .contents .bottom .hourly-data .chart {
  height: 100%;
}
body .contents .bottom .daily-data {
  display: flex;
  flex-direction: row;
}
body .contents .bottom .daily-data .daily-item .daily-sun {
  display: block;
}
body .contents .bottom .daily-data .daily-item .daily-moon {
  display: none;
}
body .contents .bottom .daily-data .daily-item .pop {
  display: block;
}
body .contents .bottom .daily-data .daily-item .daily-rain {
  display: block;
}
body .contents .bottom .daily-data .daily-item .daily-snow {
  display: block;
}

/*# sourceMappingURL=style.css.map */
