body
    font-family: sans-serif
    overflow: hidden

    .contents
        .top
            display: flex
            flex-direction: row
            height: 10%

            .location
                width: 50%

                p
                    text-align: center

            .space-objects
                display: flex
                flex-direction: row
                width: 50%

                @mixin sun-moon-common()
                    width: 50%
                    display: flex
                    flex-direction: row
                    justify-content: center
                    align-items: center
                    gap: 8px

                    p
                        text-align: center

                .sun
                    @include sun-moon-common()
                    border-right: 1px solid black

                .moon
                    @include sun-moon-common()
                    border-left: 1px solid black
                    
        .middle
            height: 30%
            display: flex;
            flex-direction: row

            .current-weather
                display: flex
                flex-direction: column
                align-items: center
                width: 50%

                .cw-top
                    display: flex
                    flex-direction: row
                    height: 80%
                    align-items: center
                    gap: 1em

                    img
                        width: 8em
                        image-rendering: optimizeQuality

                    p
                        font-size: 24px
                
                .cw-bottom
                    text-align: center
                    height: 20%
            
            .right-side
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
                gap: 8px;
                width: 50%;                    

                .col-item
                    display: flex;
                    flex-direction: row
                    align-content: center
                    justify-content: space-around
                    padding: 0px 1em

                    .img-container
                        display: flex
                        justify-content: center
                        align-items: center
                        width: 50%

                    .item-text
                        display: block
                        text-align: center
                        width: 50%
                   
        .bottom
            height: 20%

            .hourly-data
                .chart
                    display: block
            
            .daily-data
                display: block
                // @media (max-aspect-ratio: 1/1)
                //     display: none

                .daily-item
                    border: 1px solid blue
