// Developed to target resolutions between 800x480 - 1920x1080

$chart-height: 144px
    
body
    font-family: Verdana, Geneva, Tahoma, sans-serif
    overflow: hidden
    margin: 0
    padding: 0
    width: 100vw
    height: 100vh

    .contents
        width: 100%
        height: 100%

        .top
            display: flex
            flex-direction: row
            height: 15vh
            border-bottom: 1px dashed black

            .location
                width: 40%
                align-content: center

                p
                    text-align: center
                    font-size: 16px // TODO set clamp
                    margin: 0
                    
                    $gap: 2px

                    &:is(:first-child)
                        padding-bottom: $gap
                    
                    &:is(:last-child)
                        padding-top: $gap

            .space-objects
                display: flex
                flex-direction: row
                width: 60%

                @mixin sun-moon-common()
                    width: 50%
                    display: flex
                    flex-direction: row
                    justify-content: center
                    align-items: center
                    gap: 8px

                    p
                        text-align: center
                        font-size: 16px
                    
                    img
                        width: 40px // TODO set clamp

                .sun
                    @include sun-moon-common()
                    // border-right: 1px solid black

                .moon
                    @include sun-moon-common()
                    // border-left: 1px solid black
                    
        .middle
            height: 50vh
            display: flex;
            flex-direction: row
            border-bottom: 1px dashed black

            .current-weather
                display: flex
                flex-direction: column
                align-items: center
                width: 50%
                border-right: 1px solid red

                .cw-top
                    display: flex
                    flex-direction: row
                    justify-content: center
                    height: 70%
                    width: 100%
                    align-items: center
                    gap: 1em

                    img
                        width: 124px
                        image-rendering: optimizeQuality

                    p
                        font-size: 28px
                
                .cw-bottom
                    text-align: center
                    height: 30%
                    align-content: center
                    width: 100%
                    overflow: hidden

                    p
                        margin: 0
                        font-size: 18px
                        // white-space: nowrap
                        overflow: hidden
                        text-overflow: ellipsis
                        padding: 1em 1em
            
            .right-side
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
                gap: 8px;
                width: 50%;                    

                .col-item
                    display: flex;
                    flex-direction: row
                    align-content: center
                    justify-content: space-around
                    padding: 0px 1em

                    .img-container
                        display: flex
                        justify-content: center
                        align-items: center
                        width: 50%

                    .item-text
                        display: block
                        text-align: center
                        width: 50%
                   
        .bottom
            height: 35vh

            .hourly-data
                .chart
                    display: block

                    #my-chart
                        height: $chart-height
            
            .daily-data
                display: block
                // @media (max-aspect-ratio: 1/1)
                //     display: none

                .daily-item
                    border: 1px solid blue

                    .daily-sun
                        display: block

                    .daily-moon
                        display: none

                    .pop
                        display: block

                    .daily-rain
                        display: none

                    .daily-snow
                        display: none
